.parallax {
      /* The image used */
      background-image: url("images/background.png");
    
      /* Set a specific height */
      min-height: 500px; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      text-align: center;
      margin: auto;
      width: 100%;
      font-size:36px;
      color: #F0F2EB;
      font-family: "Tahoma";
    }

.button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      color: #F0F2EB;
      font-family: "Tahoma";
      position: relative;
      display: inline-block;
    }

.button:active {
      transform: translate(0px, 5px);
      -webkit-transform: translate(0px, 5px);
      box-shadow: 0px 1px 0px 0px;
}
    
.button1 {
      background-color: #3FBC90;
      border-radius: 2px;
      transition: all 1s ease;
      transform: scale(1);
}
.button1:hover {transform: scale(1.1) perspective(1px)}/* Green */

.button2 {background-color: #008CBA;} /* Blue */

#enterLink {
  width:800px;
  height:50px;
  opacity:90%;
  font-size:24px;
  font-family: "Tahoma";
  background-color: #F0F2EB;
}

div.transbox {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: -100px;
  background-color: #000000;
  border: 1px solid black;
}

#logo {
  padding-top: 40px;
}

.pulser {
    
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
}
25% {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
50% {
  -webkit-transform: scale(1);
  transform: scale(1);
}
75% {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}
100% {
  -webkit-transform: scale(1);
  transform: scale(1);
}
}

#footer {
  font-size: 15px;
  margin-top: -100px;
}

#downloader {
  margin-top: 20px;
  margin-bottom: -20px;
}

#reminder {
  padding-left : 53%;
  padding-right : 5%;
  position : relative;
  bottom : 1420px;
  font-size: 24px;
  visibility : hidden;
}

.explanation {
  text-align: left;
  font-size: 20px;
  color: #F0F2EB;
  padding-right:100px;
  padding-left:100px;
}

.explanation-header {
  text-align: left;
  font-size: 40px;
  color: #F0F2EB; 
  padding-right:100px;
  padding-left:100px;
}

.link {
  color: #3FBC90;
}
